/* FONTS */

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(fonts/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



body {
	background-color: #15985c;
	font-family: Quicksand;
}
#topBar {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #052516;
	line-height: 50px;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 15px;
}

#topBar span {
	color: #eee;
}

.container-bar {
	height: 50px;
}
/*.container {
	display: inline-block;
	margin:10px;
	height: auto;
	border-radius: 5px;
	background-color: #ececec;
	padding:10px;
	vertical-align: top;
	-webkit-box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
	box-shadow: -4px 6px 12px 0px rgba(0,0,0,0.75);
}*/

.container-s {
	width:300px;
}

.container-m {
	width: auto;
}

.container h3 {
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
	text-align: center;
}

.container p {
	margin: 10px;
}

.container ul li {
	margin: 10px;
	margin-left: 0;
}
.container ul li span#annee {
	color: #0e653d;
}
